In [2]:
print("hello")

hello

In [3]:
"hello".upper()

'HELLO'

In [4]:
a = "python 4 ever&EVER"

In [5]:
a.capitalize()

'Python 4 ever&ever'

In [6]:
a.swapcase()

'PYTHON 4 EVER&ever'

In [7]:
a.upper()

'PYTHON 4 EVER&EVER'

In [8]:
a.lower()

'python 4 ever&ever'

In [9]:
("Guten Morgen"[2:5]).upper()

'TEN'

In [10]:
("RaceTrack"[1:4]).capitalize()

'Ace'

In [11]:
a = "python 4 ever&EVER"

In [12]:
a.find("E")

14

In [13]:
a.find("eve")

9

In [14]:
a.rfind("rev")

-1

In [15]:
a.rfind("VER")

15

In [16]:
a.find(" ")

6

In [17]:
a.rfind(" ")

8

In [18]:
"on" in a

True

In [19]:
"" in a

True

In [20]:
"2*2" in a

False

In [21]:
a.count("ev")

1

In [22]:
a.count(" ")

2

In [23]:
a.count("4")

1

In [24]:
a.count("eVer")

0

In [25]:
fruit = "banana"

In [26]:
fruit.count("ana")

1

In [27]:
a = "Raining in the spring time"

In [28]:
a.replace("R", "r")

'raining in the spring time'

In [29]:
a.replace("ing", "")

'Rain in the spr time'

In [30]:
a.replace("!", ".")

'Raining in the spring time'

In [31]:
a.replace("time", "")

'Raining in the spring '

In [32]:
print("Hello, Python!"[::-1])

!nohtyP ,olleH

In [33]:
-9 // 2

-5

In [34]:
print("a={1}, b={2}, c={0}".format(70, 80, 90))

a=80, b=90, c=70

In [35]:
type(2.0)

float

In [36]:
print(20 + "24")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
str1 = "abc"
print(str1)
str2 = "cba"
str1 += str2
print(str1)

abc
abccba

In [ ]:
fruit_list_1 = ["蘋果", "香蕉"]
fruit_list_2 = ["鳳梨", "木瓜"]
fruit_list_3 = fruit_list_1 + fruit_list_2
fruit_list_4 = fruit_list_3 * 2
print(fruit_list_4)

['蘋果', '香蕉', '鳳梨', '木瓜', '蘋果', '香蕉', '鳳梨', '木瓜']

number=(2,-1,0,-1,-2,-3,-4)
for num in number:
print(num,end=",")

In [ ]:
number = (2, -1, 0, -1, -2, -3, -4)
for num in number:
    print(num, end=",")

2,-1,0,-1,-2,-3,-4,

In [ ]:
number = 16
root = 0
for i in range(1, number + 1):
    if i * i <= number:
        root = i
print(root)

4

In [ ]:
x = 0
while x < 3:
    x = x + 1

print(x)

3

In [ ]:
id("") == id(str())

True

In [ ]:
sum = 0
n = 8
for i in range(1, n + 1, 2):
    sum += i
print(sum)

16

In [ ]:
print("Hello, Python!".upper())

HELLO, PYTHON!

In [ ]:
def check(x):
    print(f"Value:{x}|Type:{type(x).__name__}")


check(3)

Value:3|Type:int

In [ ]:
print(sorted([3, 1, 7, 5], reverse=True))

[7, 5, 3, 1]

In [1]:
str1 = "Thiszzziszzzazzzbook."
s = str1.split("zz")
s

['This', 'zis', 'za', 'zbook.']

In [ ]:
print(len(s))

In [ ]:
try:
    print(x)
except:
    print("y")
finally:
    print("z")

y
z

In [ ]:
a = 1
b = 0
try:
    r = a % b
    print(r)
except ValueError:
    print("2")
except Exception:
    print("3")
finally:
    print("4")

3
4

In [ ]:
import datetime

d = datetime.datetime(2024, 6, 13)
print("{:%B-%m-%d}".format(d))

June-06-13

In [2]:
i=0
r=2
while i<5:
    print(i,r)
    i+=1

0 2
1 2
2 2
3 2
4 2